<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= post.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                    <p class="card-text">
                        <%= post.description%>
                    </p>
                </div>
                <div class="card-body">
                    <a href="/posts/<%=post._id%>/edit" class="card-link btn btn-warning">Edit</a>
                    <form class="d-inline" action="/posts/<%=post._id%>?_method=DELETE" method="POST"><button
                            class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>